:root {
  --vh-adjusted: 1vh;
  --nav-height: 156px;
  --footer-height: 116px;

  @include mq('desktop') {
   // --nav-height: 96px;
  }
}

.body {
  -webkit-overflow-scrolling: touch;

  &--no-scroll {
    -webkit-overflow-scrolling: auto;
    overflow-y: hidden;
  }
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
}

label {
  user-select: none;
}

svg {
  pointer-events: none;
}

// hide arrows on number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox],
input [type=radio] {
  -webkit-appearance: none;
}

main {
  width: 100%;
}
