$white: rgba(255, 255, 255, 0.98);
$black: rgba(0,0,0,0.9);
$white-trans: rgba(255, 255, 255, .24);
$black-trans: rgba(0, 0, 0, .24);

$paragraph-color: rgba(0,0,0,0.84);
$grey-light: #E2E3E5;
$grey-mid: #737477;

$color-primary: #DB0A40;
$color-secondary: rgba(11,31,51, 0.9);

$color-bg-dark: #d7d7de;
$color-bg-light: #fbf9fa;
