.project-card {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    cursor: pointer;

    display: flex;
    flex-direction: column-reverse;
    
    @include mq("tablet") {
        display: unset;
        width: grid-el-tab(6);
        
        &:nth-of-type(odd) {
            margin-bottom: 0;
            margin-right: $grid-i-gutter--tab;
        }

        &:nth-of-type(even) {
            margin-top: 3.5rem;
            margin-bottom: 2rem;
        }
    
        &:nth-child(2) {
            // classninjas card..
            margin-bottom: 0.5rem;
        }
    }

    @include mq("desktop") {
        width: grid-el-dtp(6);

        &:nth-of-type(odd) {
            margin-right: $grid-i-gutter--dtp;
        }
    }

    &:hover {
        h4, p {
            text-decoration: underline;
        }
    }

    &:nth-child(2) {
        // classninjas card.. no shadow needed
        img {
            box-shadow: none;
        }
        
    }

 
    &__top {
        position: relative;
        display: flex;
  
        video,
        img {
            position: relative;
            width: 88%;
            left: 6%;
            object-fit: cover;
            border-radius: 3px;
            box-shadow: 7px 7px 40px -10px rgb(0 0 0 / 16%);

            @include mq("tablet") {
                width: 100%;
                left: 0;
            }
        }
    }
    
    &__bottom {
        cursor: pointer; 
        position: relative;
        left: 1.5%;  
        width: 98.5%;     
        
        @include mq("tablet") {
            left: 0;
            padding-top: 1rem;
        }

        h3 {
            margin-bottom: .25rem;
        }

        h4, p {
            cursor: pointer;
        }

        p {
            padding-bottom: 0.5rem;
            @include mq("tablet") {
                padding-bottom: 1rem;
            }
        }

    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }
}