.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  outline: none;
  border: 0;
  user-select: none;
  transition: transform 0.05s linear;

  &:active {
    transform: scale(0.98);
    transform: scale(0.99) translate(1px, 1px);
  }

  &__no-style {
    color: $color-primary;
    @include font-primary;
    background: $white;
    text-transform: uppercase;

    &::after,
    &::before {
      content: unset;
    }

    &:hover,
    &:focus {
      &::after {
        box-shadow: none;
      }
    }
  }

  &__primary {
    color: $paragraph-color;
    background: $color-bg-light;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.05);

    &:hover {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &__disabled {
    border: 0;
    color: $white;
    cursor: default;

    &:after {
      background: $grey-light;
    }

    &::before {
      content: unset;
    }

    &:hover {
      transform: unset;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-left: 0.5rem;
  }
}

.btn-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;

  &--space {
    justify-content: space-between;
  }

  .button {
    &:not(:first-child) {
      @include property-with-gutter("margin-left", "inner");
    }
  }
}
