.icon-flex {
    // width: 1.25rem;
    // height: 1.25rem;
    opacity: 0.7;
    cursor: pointer;
    display: inline-block;
    
    &:not(last-child) {
        margin-right: 1rem;
    }

    &:hover {
        opacity: 1;
    }

    &__container {
        display: flex;
    }

    &__codepen {
        svg {
            position: relative;
            top: 2px;
        }
    }

    &__store {
        opacity: 1;
        img {
            height: 40px;
        }
    }

    &__website {
        color: black;
        
        &--cn {
            margin-top: 1rem;
        }
        
        img {
            display: inline;
            width: 16px;
            margin-left: 8px;
            position: relative;
            top: 2px;
        }
    }

}

.icon {
    opacity: 0.7;
    cursor: pointer;
    display: inline-block;

    &__scroll-top {
        position: fixed;
        bottom: 2rem;
        left: 2rem; 

        svg {
            transform: rotate(180deg);
            transform-origin: center;
        }
    }
}