.input__container {
  position: relative;
  margin-bottom: 1rem;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  
  @include mq("desktop-mid") {
    margin-bottom: 1.5rem;
  }
}

.input,
.textarea {
  outline: none;
  border: 1px solid $grey-light;
  border-radius: $border-radius;
  background: none;
  color: $color-secondary;
  padding: .5rem 1rem;
  width: 100%;
  transform: scale(0.99) translateY(2px) translateX(-1px);
  transition: transform 0.15s ease;
  
  &:focus {
    border: 1px solid $color-secondary;
    outline: none;
    transform: scale(1);
  }

  &--error {
    //
  }

  &--disabled {
    //
  }
}

.input {
  height: 2.7rem;
}
