.input__container {
  position: relative;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.input,
.textarea {
  outline: none;
  border: 1px solid $grey-light;
  border-radius: $border-radius;
  background: none;
  color: $color-secondary;
  padding: .5rem 1rem;
  width: 100%;

  &:focus {
    border: 1px solid $color-secondary;
    outline: none;
  }

  &--error {
    //
  }

  &--disabled {
    //
  }
}

.input {
  height: 2.7rem;
}
