
.label {
  font-size: 0.82rem;
  line-height: 1rem;
  color: $grey-mid;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  position: relative;

  
  &--input {
    margin-bottom: .25rem;
    display: inline-block;
    overflow: visible;

    &::after {
      content: attr(error-content);
      position: absolute;
      left: calc(100% + 1rem);
      top: 0;
      color: $color-primary;
      text-transform: none;
    }
  }

  &--error {
    //
  }
}
