@keyframes modalAnimation {
    0% {
        transform: translateX(100%)
    }

    15% {
        transform: translateX(101%);
    }

    85% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes modalAnimationLeft {
    0% {
        transform: translateX(-100%)
    }

    15% {
        transform: translateX(-101%);
    }

    85% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0);
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 102%;
    height: 100vh;
    background: white;
    z-index: z("modal");
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    overflow-y: scroll;

    // padding: 0 calc(2vw + 2rem) 0 2rem;

    // @include mq("tablet-small") {
    //     padding: 0 calc(2vw + 4rem) 0 4rem;
    // }
    
    // @include mq("tablet") {
    //     padding: 0 calc(2vw + 6rem) 0 6rem;
    // }

    
    &[animation="in-right"] {
        //transform: translateX(0%);

        animation-name: modalAnimation;
        animation-timing-function: cubic-bezier(.21,-.09,.72,0.45);
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
    
    &[animation="out-right"] {
        animation-name: modalAnimation;
        animation-timing-function: cubic-bezier(.28,.55,.79,1.09); // inverse of in-right's function
        animation-duration: 0.8s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }

    &[animation="in-right-end"] {
        transform: translateX(0);
    }
    
    &[animation="out-right-end"] {
        transform: translateX(100%);
        //transform: translateX(0);
    }

    &[animation="in-left"] {
        //transform: translateX(0%);

        animation-name: modalAnimationLeft;
        animation-timing-function: cubic-bezier(.21,-.09,.72,0.45);
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
    
    &[animation="out-left"] {
        animation-name: modalAnimationLeft;
        animation-timing-function: cubic-bezier(.28,.55,.79,1.09); // inverse of in-left's function
        animation-duration: 0.8s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }

    &[animation="in-left-end"] {
        transform: translateX(0);
    }
    
    &[animation="out-left-end"] {
        transform: translateX(-100%);
        //transform: translateX(0);
    }

    &__text {
        width: 100%;
        max-width: 480px;
        margin: auto;
        
        @include mq("desktop") {
            max-width: 40vw;
            min-width: 480px;
            max-width: 540px;
        }

        h3 {
            text-align: center;
        }
    }

    &__content {
        padding: 3rem calc(2vw + 2rem) 6rem 2rem;

        @include mq("tablet-small") {
            padding: 3.5rem calc(2vw + 4rem) 6rem 4rem;
        }
        
        @include mq("tablet") {
            padding: 4rem calc(2vw + 6rem) 3rem 6rem;
        }
    }

    &__inner {
        width: 100%;
    }
}


.project-modal {
    &__image {
        width: 100%;
    }

    &__header {
        padding-bottom: 0 !important;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__image {
        img {
            width: 110%;
            position: relative;

            right: 5%;
            margin: 2rem 0;
            
            @include mq("tablet") {
                width: 120%;
                right: 10%;
            }
        }

        &--hi {
            img {
                width: 100%;
                right: 0;
                margin: 0;

                @include mq("tablet") {
                    width: 100%;
                right: 0;
                }
            }
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
        // opacity: 0.6;
        cursor: pointer;
        color: $color-secondary;
        font-size: 0.8rem;
        text-transform: uppercase;
        opacity: 0.7;


        @include mq("tablet") {
            top: 2rem;
            right: 5rem;
        }

        img {
            width: .8rem;

            @include mq("tablet") {        
                width: 0.9rem;
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    &__arrow {
        width: 1.5rem;
        position: absolute;
        top: 3.25rem;
        cursor: pointer;
        
        @include mq("tablet-small") {
            top: 3.75rem;
        }

        @include mq("tablet") {
            position: absolute;
            top: calc(50% - .75rem);
        }

        &--left {
            left: 2rem;
            transform: rotate(180deg);
            transform-origin: center;
        }

        &--right {
            right: 2rem;
            @include mq("tablet") {
                left: calc(100% - 4rem - 1.5rem);
            }
        }
    }
}

.contact-form-modal {
    box-shadow: -5px -6px 24px 24px rgba(0,0,0,0.2);

    &__content {
        display: flex;
        justify-content: center;
    }

    &__close {
        color: $color-secondary;
        font-size: 0.8rem;
        text-transform: uppercase;
        opacity: 0.7;

        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;

        @include mq("tablet") {
            top: 2rem;
            right: 5rem;
        }

        img {
            width: .8rem;

            @include mq("tablet") {        
                width: 0.9rem;
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    &__form {
        padding-top: 2rem;
        max-width: 500px;
    }

    &__submit {
        float: right;
    margin-top: 1rem;
    }
}