@keyframes modalAnimation {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0);
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: navajowhite;
    z-index: z("modal");
    transform: translateX(100%);
    transition: transform 1s ease;
    
    &__enter {
        transform: translateX(0%);
    }
    
    &__leave {
        transform: translateX(100%);
    
    }


}