.profile-image {
    //margin: 2rem auto 1rem auto;
    display: flex;
    // justify-content: center;
    
    img {
        width: 60px;
        height: 60px;

        @include mq("tablet-small") {
            width: 80px;
            height: 80px;
        }

        @include mq("tablet") {
            width: 90px;
            height: 90px;
        }
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 9px 8px 17px -8px rgb(0 0 0 / 9%);
    }
}