$bottom: 1.5rem;

@keyframes toastAnimation {
  0% {
    transform: translateY(100%) translateY($bottom);
  }

  100% {
    transform: translateY(0%);
  }
}

.toast {
  position: fixed;
  z-index: z('toast');
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: $bottom;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: $border-radius;
  color: $black;
  box-shadow: 0px -2px 6px rgba(0,0,0,0.1);
  background-color: $white;
  transform: translateY(100%) translateY($bottom);
  width: calc(100% - #{$grid-o-gutter--mob * 2});
  margin: 0 $grid-o-gutter--mob;

  @include mq('tablet-small') {
    width: calc(100% - #{$grid-o-gutter--tab * 2});
    margin: 0 $grid-o-gutter--tab;
  }

  @include mq('desktop') {
    width: calc(100% - #{$grid-o-gutter--dtp * 2});
    margin: 0 $grid-o-gutter--dtp;
  }

  p {
    padding-bottom: 0;
  }

  &--error {
    background-color: $error-bg;
    
    p {
      color: $white;
    }
  }

  &--success {
    background-color: $success-bg;
    
    p {
      color: $white;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.94;
  }

  &__text {
    align-items: center;
    font-size: 13px;
    line-height: 158%;
    color: $white;

    @include mq('tablet-small') {
      font-size: 14px;
    }
  }

  &[animation="toast-in"] {
    animation-name: toastAnimation;
    animation-timing-function: ease-out; // inverse of enter's leave function
    animation-duration: 0.18s;
    animation-fill-mode: forwards;
  }

  &[animation="toast-in-end"] {
    transform: translateY(0);
  }

      
  &[animation="toast-out"] {
    animation-name: toastAnimation;
    animation-timing-function: ease-in; // inverse of in-right's function
    animation-duration: 0.25s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }

  &[animation="toast-out-end"] {
    transform: translateY(100%) translateY($bottom);
  }
}
